{% extends 'base.html' %} {% block content %}


<form method="post" class="row  row-cols-1 mt-5 justify-content-center">
    <h2 class="row  row-cols-1 mt-5 justify-content-center">Inserisci la tua nuova password</h2>
    <div class="col-md-1 p-2 w-50">
        <input name="password" type="password" required placeholder="password" class="justify-content-center form-control w-100">
    </div>
    <pre></pre>
    <div class="col-md-1 p-2 w-50">
        <input name="confirm_password" type="password" required placeholder="conferma" class="justify-content-center form-control w-100">
    </div>


    <div class="col p-2 d-flex justify-content-center align-items-center">
        <input type="submit" class="btn" style="background-color: #fdd8c3; color: #3C3744;" value="reset" />
    </div>

</form>

{% if error %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small>ora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            La password deve essere uguale per entrambi in campi
        </div>
    </div>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

{% endif %}
{% endblock %}
