{% extends 'base.html' %} {% block content %}


<form method="post" class="row  row-cols-1 mt-5 justify-content-center">
    <h2 class="row  row-cols-1 mt-5 justify-content-center">Inserisci l'email di recupero</h2>
    <div class="col-md-1 p-2 w-50">
        <input name="email" type="email" required placeholder="Email" class="justify-content-center form-control w-100">
    </div>

    <div class="col p-2 d-flex justify-content-center align-items-center">
        <input type="submit" class="btn" style="background-color: #fdd8c3; color: #3C3744;" value="Invia Email" />
        <a class="btn mx-3" href="{{ url_for('login') }}" style="background-color: #fdd8c3; color: #3C3744;">login</a>
    </div>
    

</form>

{% if sent %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small>ora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Ti è stata inviata una email con le istruzioni per reimpostare la tua password
        </div>
    </div>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

{% endif %}

{% if error %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small>ora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Nessun utente trovato con questo indirizzo email
        </div>
    </div>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

{% endif %}

{% if expired %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small>ora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Questo link di recupero password è scaduto
        </div>
    </div>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

{% endif %}

{% if success %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Info</strong>
            <small>ora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Password cambiata correttamente
        </div>
    </div>
    <script>
        window.onload = (event) => {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>

{% endif %}

{% endblock %}